<p>This is a public calendar. Feel free to use! Kept up to date by the organisers of the listed events</p>

<a onclick="WDa(this,0,true,false,false); return false;" target="_blank" href="https://www.google.com/calendar/feeds/jvasnlh4n37fpgl51c3p4qnnsg%40group.calendar.google.com/public/basic"><img src="images/xml.gif"></a>&nbsp;<a onclick="WDa(this,1,true,false,false); return false;" target="_blank" href="https://www.google.com/calendar/ical/jvasnlh4n37fpgl51c3p4qnnsg%40group.calendar.google.com/public/basic.ics"><img src="images/ical.gif"></a>&nbsp;<a onclick="WDa(this,2,true,false); return false;" target="_blank" href="https://www.google.com/calendar/embed?src=jvasnlh4n37fpgl51c3p4qnnsg%40group.calendar.google.com&amp;ctz=Europe/London"><img src="images/html.gif"></a>

<iframe src="https://www.google.com/calendar/embed?src=jvasnlh4n37fpgl51c3p4qnnsg%40group.calendar.google.com&ctz=Europe/London" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
